html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

#header {
  margin-bottom: 20px;
}

.alert {
  ol, ul {
    margin-bottom: 0; } }

.ta-right {
text-align: right !important; }

span.acoes {
  margin-left: 20px; }

.ml5 {
  margin-left: 5px; }

h2.form-title {
  margin-bottom: 18px; }

h2.usuario_login {
  margin-bottom: 30px; }

// Box de conteúdo
.boxed-group {
  background: none repeat scroll 0 0 #EFEFEF;
  border-radius: 3px 3px 3px 3px;
  margin: 0 0 15px;
  padding: 3px;
  position: relative;
  .boxed-group-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-color: #CCCCCC #D8D8D8 #D8D8D8;
    border-image: none;
    border-right: 1px solid #D8D8D8;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-size: 13px;
    padding: 1px 10px;
    p { margin-bottom: 2px; }
    p:first-child { margin-top: 10px; }
    p:last-child { margin-bottom: 10px; }
  }
  &> h3, .boxed-group .heading {
    @include background-image(linear-gradient(#FAFAFA, #E0E0E0));
    border-color: #D8D8D8;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-width: 1px 1px medium;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 1px 0 #FFFFFF;
  }
  &+ .boxed-group {
    margin-top: 25px;
  }
  &.flush .boxed-group-inner {
    padding: 0;
  }
  .boxed-group-action {
    margin: 9px 10px 0 0;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 10;
  }
}

h2.bs-form-centered-heading {
  margin: 0 auto 15px;
  width: 420px;
}

form.form-centered {
  margin: 0 auto;
  width: 420px;

  dd {
    margin-left: 0;
  }

  dl.form > dt label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    position: relative;
  }

  dl.form > dd input[type="text"], dl.form > dd input[type="password"], dl.form > dd input[type="email"] {
    -moz-box-sizing: border-box;
    background-position: right center;
    background-repeat: no-repeat;
    color: #666666;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 6px;
    // width: 400px;
  }

  dl.form {
    margin: 15px 0;
    &.field-centered { text-align: center; }
  }

  dl.form > dt {
    margin: 0 0 6px;
  }
}

body.index a.btn-new {
  margin: 10px 0;
}
